@model List<Category>

<table class="table table-hover">
    <thead>
        <div class="d-flex justify-content-between p-3">
            <h2>Categories</h2>
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create New Category  <i class="bi bi-plus"></i></a>
        </div>

    </thead>
    <tbody class="table-dark">
        @foreach(var category in Model)
        {
            <tr>
                <td>
                    @category.Name
                </td>
            </tr>
        }

    </tbody>
</table>